/* <flairs> */
.flair-nimportequoi { background-position: 0 0; width: 246px; height: 20px; }
.flair-marsu { background-position: 0 -20px; width: 215px; height: 35px; }
.flair-tgv { background-position: 0 -55px; width: 110px; height: 22px; }
.flair-nioutaik { background-position: -110px -55px; width: 70px; height: 19px; }
.flair-ss { background-position: 0 -77px; width: 50px; height: 34px; }
.flair-marteau { background-position: -50px -77px; width: 48px; height: 26px; }
.flair-liberte { background-position: 0 -111px; width: 48px; height: 37px; }
.flair-fougere { background-position: -98px -77px; width: 48px; height: 21px; }
.flair-inconnus { background-position: -48px -111px; width: 47px; height: 30px; }
.flair-zizou { background-position: 0 -148px; width: 46px; height: 32px; }
.flair-planete { background-position: -95px -111px; width: 46px; height: 26px; }
.flair-jeanne { background-position: 0 -180px; width: 46px; height: 40px; }
.flair-rafale { background-position: -46px -148px; width: 45px; height: 31px; }
.flair-airbus { background-position: -91px -148px; width: 45px; height: 30px; }
.flair-abitbol { background-position: -246px 0; width: 39px; height: 45px; }
.flair-otarie { background-position: -180px -55px; width: 43px; height: 19px; }
.flair-mecronchon { background-position: -246px -45px; width: 35px; height: 42px; }
.flair-charrenault { background-position: -136px -148px; width: 42px; height: 27px; }
.flair-ubu { background-position: -246px -87px; width: 25px; height: 41px; }
.flair-superdupont { background-position: -46px -180px; width: 41px; height: 33px; }
.flair-shrek { background-position: -246px -128px; width: 37px; height: 41px; }
.flair-rousseau { background-position: -246px -169px; width: 34px; height: 41px; }
.flair-mariecurie { background-position: 0 -220px; width: 41px; height: 39px; }
.flair-maite { background-position: -41px -220px; width: 41px; height: 39px; }
.flair-lci { background-position: -146px -77px; width: 41px; height: 16px; }
.flair-jeannedarc { background-position: -82px -220px; width: 41px; height: 37px; }
.flair-gaston { background-position: -123px -220px; width: 41px; height: 37px; }
.flair-amiralpoitou { background-position: -285px 0; width: 37px; height: 41px; }
.flair-zzzzzzvin { background-position: -285px -41px; width: 12px; height: 40px; }
.flair-ubomw { background-position: -285px -81px; width: 29px; height: 40px; }
.flair-sisyphe { background-position: -285px -121px; width: 32px; height: 40px; }
.flair-sansculotte { background-position: -285px -161px; width: 28px; height: 40px; }
.flair-republique { background-position: -187px -77px; width: 40px; height: 14px; }
.flair-portugal { background-position: -178px -148px; width: 40px; height: 27px; }
.flair-minitel { background-position: -164px -220px; width: 40px; height: 36px; }
.flair-marmotte { background-position: -285px -201px; width: 27px; height: 40px; }
.flair-louisiane { background-position: -141px -111px; width: 40px; height: 25px; }
.flair-louisemichel { background-position: 0 -259px; width: 30px; height: 40px; }
.flair-jospin { background-position: -30px -259px; width: 30px; height: 40px; }
.flair-gadget { background-position: -204px -220px; width: 40px; height: 34px; }
.flair-didi { background-position: -60px -259px; width: 40px; height: 35px; }
.flair-ariane { background-position: -297px -41px; width: 13px; height: 40px; }
.flair-ornithorynque { background-position: -181px -111px; width: 39px; height: 18px; }
.flair-chimay { background-position: -322px 0; width: 17px; height: 39px; }
.flair-zzzzzzbaguette { background-position: -87px -180px; width: 38px; height: 17px; }
.flair-veil { background-position: 0 -299px; width: 33px; height: 38px; }
.flair-taubira { background-position: -33px -299px; width: 33px; height: 38px; }
.flair-poutineperuqe { background-position: -66px -299px; width: 33px; height: 38px; }
.flair-piaf { background-position: -99px -299px; width: 33px; height: 38px; }
.flair-penelope { background-position: -132px -299px; width: 33px; height: 38px; }
.flair-haddock { background-position: -165px -299px; width: 38px; height: 37px; }
.flair-grenouille { background-position: -339px 0; width: 35px; height: 38px; }
.flair-ceres { background-position: -339px -38px; width: 34px; height: 38px; }
.flair-beauvoir { background-position: -339px -76px; width: 33px; height: 38px; }
.flair-poutine { background-position: -244px -220px; width: 37px; height: 22px; }
.flair-pascalbrutal { background-position: -100px -259px; width: 37px; height: 35px; }
.flair-fab { background-position: -339px -114px; width: 33px; height: 37px; }
.flair-anne { background-position: -339px -151px; width: 33px; height: 37px; }
.flair-accordeon { background-position: -137px -259px; width: 37px; height: 24px; }
.flair-zzzzzzchatf { background-position: -203px -299px; width: 36px; height: 33px; }
.flair-saxo { background-position: -339px -188px; width: 34px; height: 36px; }
.flair-quake { background-position: 0 -337px; width: 36px; height: 35px; }
.flair-philippe { background-position: -339px -224px; width: 27px; height: 36px; }
.flair-nyancat { background-position: -285px -241px; width: 36px; height: 17px; }
.flair-moustache { background-position: -125px -180px; width: 36px; height: 14px; }
.flair-grd { background-position: -174px -259px; width: 36px; height: 21px; }
.flair-frites { background-position: -339px -260px; width: 25px; height: 36px; }
.flair-desproges { background-position: -374px 0; width: 36px; height: 36px; }
.flair-bison { background-position: -374px -36px; width: 31px; height: 36px; }
.flair-beaumarchais { background-position: -374px -72px; width: 34px; height: 36px; }
.flair-alizee { background-position: -374px -108px; width: 27px; height: 36px; }
.flair-zzzzzzdinosaure1 { background-position: -374px -144px; width: 34px; height: 35px; }
.flair-shadokpompe { background-position: -374px -179px; width: 35px; height: 35px; }
.flair-profshadoko { background-position: -374px -214px; width: 35px; height: 35px; }
.flair-nsfw { background-position: -374px -249px; width: 35px; height: 27px; }
.flair-nsfw:hover { background-position: -374px -276px; width: 35px; height: 27px; }
.flair-naquitaine { background-position: -374px -303px; width: 30px; height: 35px; }
.flair-metal { background-position: -339px -296px; width: 22px; height: 35px; }
.flair-kepi { background-position: -374px -338px; width: 35px; height: 28px; }
.flair-jamy { background-position: -215px -20px; width: 27px; height: 35px; }
.flair-gabuzomeu { background-position: -36px -337px; width: 35px; height: 35px; }
.flair-fleur { background-position: -71px -337px; width: 34px; height: 35px; }
.flair-devinplombier { background-position: -105px -337px; width: 35px; height: 35px; }
.flair-cthulu { background-position: -140px -337px; width: 35px; height: 34px; }
.flair-cheminade { background-position: 0 -372px; width: 30px; height: 35px; }
.flair-chefshadok { background-position: -30px -372px; width: 31px; height: 35px; }
.flair-brassens { background-position: -61px -372px; width: 35px; height: 35px; }
.flair-arc { background-position: -96px -372px; width: 33px; height: 35px; }
.flair-ananas { background-position: -129px -372px; width: 18px; height: 35px; }
.flair-zzzzzzdinosaure2 { background-position: -239px -299px; width: 34px; height: 29px; }
.flair-tzizou { background-position: -273px -299px; width: 34px; height: 28px; }
.flair-singe { background-position: -175px -337px; width: 29px; height: 34px; }
.flair-singapour { background-position: -204px -337px; width: 34px; height: 25px; }
.flair-pipe { background-position: -210px -259px; width: 34px; height: 18px; }
.flair-lys { background-position: -147px -372px; width: 28px; height: 34px; }
.flair-lepers { background-position: -175px -372px; width: 28px; height: 34px; }
.flair-karlmarx { background-position: -203px -372px; width: 33px; height: 34px; }
.flair-guillotine { background-position: -236px -372px; width: 24px; height: 34px; }
.flair-gibi { background-position: -260px -372px; width: 32px; height: 34px; }
.flair-gainsbourg { background-position: -292px -372px; width: 34px; height: 31px; }
.flair-coqd { background-position: -410px 0; width: 30px; height: 34px; }
.flair-comte { background-position: -238px -337px; width: 34px; height: 21px; }
.flair-coluche { background-position: -410px -34px; width: 25px; height: 34px; }
.flair-cognac { background-position: -410px -68px; width: 25px; height: 34px; }
.flair-amiralpoitou2 { background-position: -410px -102px; width: 28px; height: 34px; }
.flair-zzzzzzoiseaucape { background-position: -326px -372px; width: 33px; height: 28px; }
.flair-zzzzzzchatl { background-position: 0 -407px; width: 33px; height: 33px; }
.flair-rochefort { background-position: -33px -407px; width: 33px; height: 32px; }
.flair-respiration { background-position: -440px 0; width: 33px; height: 33px; }
.flair-pakistan { background-position: -440px -33px; width: 33px; height: 22px; }
.flair-oss { background-position: -440px -55px; width: 28px; height: 33px; }
.flair-mariondufaouet { background-position: -440px -88px; width: 24px; height: 33px; }
.flair-loutre { background-position: -440px -121px; width: 33px; height: 29px; }
.flair-imperial { background-position: -440px -150px; width: 32px; height: 33px; }
.flair-grnx { background-position: -440px -183px; width: 33px; height: 27px; }
.flair-framasoft { background-position: -440px -210px; width: 33px; height: 33px; }
.flair-croatie { background-position: -440px -243px; width: 30px; height: 33px; }
.flair-chouffe { background-position: -440px -276px; width: 33px; height: 33px; }
.flair-bebel { background-position: -440px -309px; width: 28px; height: 33px; }
.flair-asterix { background-position: -440px -342px; width: 30px; height: 33px; }
.flair-zzzzzzpelican { background-position: -440px -375px; width: 32px; height: 26px; }
.flair-zzzzzzcroissant { background-position: -440px -401px; width: 32px; height: 18px; }
.flair-zzzzzzcamembert { background-position: -66px -407px; width: 32px; height: 30px; }
.flair-supermeatboy { background-position: -307px -299px; width: 32px; height: 23px; }
.flair-schtroumpf { background-position: -410px -136px; width: 21px; height: 32px; }
.flair-saliere { background-position: 0 -440px; width: 32px; height: 31px; }
.flair-renard { background-position: -32px -440px; width: 32px; height: 31px; }
.flair-melenchon { background-position: -410px -168px; width: 25px; height: 32px; }
.flair-licorne { background-position: -473px 0; width: 32px; height: 32px; }
.flair-guitare { background-position: -473px -32px; width: 12px; height: 32px; }
.flair-gobelin { background-position: -473px -64px; width: 32px; height: 26px; }
.flair-canard { background-position: -473px -90px; width: 32px; height: 29px; }
.flair-bresil { background-position: -473px -119px; width: 32px; height: 24px; }
.flair-bonnetane { background-position: -473px -143px; width: 24px; height: 32px; }
.flair-zzzzzzoiseau2 { background-position: -473px -175px; width: 31px; height: 26px; }
.flair-zzzzzzguepard { background-position: -473px -201px; width: 31px; height: 24px; }
.flair-zzzzzzaraignee { background-position: -473px -225px; width: 31px; height: 25px; }
.flair-voltaire { background-position: -473px -250px; width: 31px; height: 31px; }
.flair-saucisson { background-position: -473px -281px; width: 29px; height: 31px; }
.flair-perceval { background-position: -473px -312px; width: 24px; height: 31px; }
.flair-peppercarrot { background-position: -473px -343px; width: 31px; height: 31px; }
.flair-ours { background-position: -473px -374px; width: 30px; height: 31px; }
.flair-nono { background-position: -473px -405px; width: 31px; height: 31px; }
.flair-newzealand { background-position: -473px -436px; width: 31px; height: 17px; }
.flair-mbappe { background-position: -410px -200px; width: 29px; height: 31px; }
.flair-marteaufaucille { background-position: -98px -407px; width: 31px; height: 30px; }
.flair-guiness { background-position: -485px -32px; width: 17px; height: 31px; }
.flair-guignol { background-position: -129px -407px; width: 31px; height: 30px; }
.flair-canele { background-position: -410px -231px; width: 25px; height: 31px; }
.flair-beret { background-position: -473px -453px; width: 31px; height: 15px; }
.flair-australie { background-position: -440px -419px; width: 31px; height: 16px; }
.flair-zzzzzzratonlaveur { background-position: -410px -262px; width: 30px; height: 24px; }
.flair-zzzzzzpoisson2 { background-position: -410px -286px; width: 30px; height: 26px; }
.flair-zzzzzzcygne { background-position: -410px -312px; width: 30px; height: 24px; }
.flair-zzzzalgu00e9rie { background-position: -410px -336px; width: 30px; height: 20px; }
.flair-znepal { background-position: -410px -356px; width: 25px; height: 30px; }
.flair-ut { background-position: -160px -407px; width: 30px; height: 30px; }
.flair-potion { background-position: -190px -407px; width: 29px; height: 30px; }
.flair-poing { background-position: -219px -407px; width: 25px; height: 30px; }
.flair-herisson { background-position: -359px -372px; width: 30px; height: 26px; }
.flair-zzzzzzmorse { background-position: -244px -407px; width: 29px; height: 23px; }
.flair-zzzzzzhirondelle { background-position: -64px -440px; width: 29px; height: 25px; }
.flair-zzzzzzcriquet { background-position: -410px -386px; width: 29px; height: 19px; }
.flair-zzzzzzcrabe { background-position: -93px -440px; width: 29px; height: 24px; }
.flair-zzzzzzcoq { background-position: -122px -440px; width: 29px; height: 24px; }
.flair-zzzzzzchauvesouris { background-position: -273px -407px; width: 29px; height: 22px; }
.flair-vlc { background-position: 0 -471px; width: 26px; height: 29px; }
.flair-croixlorraine { background-position: -26px -471px; width: 20px; height: 29px; }
.flair-zzzzzzcrevette { background-position: -218px -148px; width: 28px; height: 27px; }
.flair-zzzzzzchiot { background-position: -46px -471px; width: 28px; height: 26px; }
.flair-zlatverie { background-position: -161px -180px; width: 28px; height: 14px; }
.flair-guernesey { background-position: -244px -259px; width: 28px; height: 18px; }
.flair-zzzzzzhippocampe { background-position: -505px 0; width: 19px; height: 27px; }
.flair-zpaysdegalle { background-position: -87px -197px; width: 27px; height: 16px; }
.flair-zjapon { background-position: -272px -259px; width: 27px; height: 17px; }
.flair-zcornouaille { background-position: -272px -337px; width: 27px; height: 17px; }
.flair-zcoree { background-position: -302px -407px; width: 27px; height: 18px; }
.flair-taiwan { background-position: -151px -440px; width: 27px; height: 22px; }
.flair-ratp { background-position: -524px 0; width: 27px; height: 27px; }
.flair-jaures { background-position: -524px -27px; width: 24px; height: 27px; }
.flair-italie { background-position: -524px -54px; width: 27px; height: 17px; }
.flair-edriseur { background-position: -524px -71px; width: 23px; height: 27px; }
.flair-coeur { background-position: -524px -98px; width: 27px; height: 22px; }
.flair-zzzzzzescargot { background-position: -524px -120px; width: 26px; height: 22px; }
.flair-pologne { background-position: -524px -142px; width: 26px; height: 16px; }
.flair-hk { background-position: -524px -158px; width: 26px; height: 17px; }
.flair-croche { background-position: -524px -175px; width: 24px; height: 26px; }
.flair-zzzzzzpoulpe { background-position: -524px -201px; width: 25px; height: 25px; }
.flair-zzzzzzpoisson { background-position: -524px -226px; width: 25px; height: 25px; }
.flair-zzzzzzpingouin { background-position: -524px -251px; width: 23px; height: 25px; }
.flair-zzzzzzoiseau { background-position: -524px -276px; width: 25px; height: 25px; }
.flair-zzzzztroll { background-position: -524px -301px; width: 25px; height: 20px; }
.flair-zzzzphilippines { background-position: -524px -321px; width: 25px; height: 13px; }
.flair-zzsanglier { background-position: -524px -334px; width: 22px; height: 25px; }
.flair-zsuede { background-position: -524px -359px; width: 25px; height: 16px; }
.flair-zsenegal { background-position: -524px -375px; width: 25px; height: 17px; }
.flair-zpologne { background-position: -524px -392px; width: 25px; height: 16px; }
.flair-zpaysbas { background-position: -524px -408px; width: 25px; height: 17px; }
.flair-zirlande { background-position: -524px -425px; width: 25px; height: 13px; }
.flair-zhongrie { background-position: -524px -438px; width: 25px; height: 12px; }
.flair-zfinlande { background-position: -524px -450px; width: 25px; height: 15px; }
.flair-zespagne { background-position: -524px -465px; width: 25px; height: 17px; }
.flair-zbelleile { background-position: -524px -482px; width: 25px; height: 17px; }
.flair-zallemagne { background-position: -220px -111px; width: 25px; height: 15px; }
.flair-pirate { background-position: -114px -197px; width: 25px; height: 16px; }
.flair-maroc { background-position: -299px -337px; width: 25px; height: 17px; }
.flair-lordon { background-position: -178px -440px; width: 25px; height: 20px; }
.flair-liban { background-position: -139px -197px; width: 25px; height: 16px; }
.flair-legion { background-position: -203px -440px; width: 25px; height: 19px; }
.flair-inde { background-position: -324px -337px; width: 25px; height: 17px; }
.flair-gwennhadu { background-position: -349px -337px; width: 25px; height: 17px; }
.flair-groenland { background-position: -329px -407px; width: 25px; height: 17px; }
.flair-frise { background-position: -354px -407px; width: 25px; height: 17px; }
.flair-dauphine { background-position: -74px -471px; width: 25px; height: 25px; }
.flair-danemark { background-position: -228px -440px; width: 25px; height: 19px; }
.flair-bearn { background-position: -164px -197px; width: 25px; height: 15px; }
.flair-anarchisme { background-position: -379px -407px; width: 25px; height: 16px; }
.flair-afriquedusud { background-position: -253px -440px; width: 25px; height: 17px; }
.flair-zzzzzzsouris { background-position: -99px -471px; width: 22px; height: 24px; }
.flair-blum { background-position: -389px -372px; width: 21px; height: 24px; }
.flair-zzzzzpace { background-position: -223px -55px; width: 23px; height: 17px; }
.flair-zzzzzzhacker { background-position: -121px -471px; width: 22px; height: 20px; }
.flair-znorvege { background-position: -299px -259px; width: 22px; height: 16px; }
.flair-zitalie { background-position: -189px -197px; width: 22px; height: 15px; }
.flair-zisrael { background-position: -278px -440px; width: 22px; height: 17px; }
.flair-zengland { background-position: -189px -180px; width: 22px; height: 12px; }
.flair-zcanada { background-position: -246px -210px; width: 22px; height: 10px; }
.flair-yafrance { background-position: -211px -197px; width: 22px; height: 14px; }
.flair-pdl { background-position: -143px -471px; width: 22px; height: 20px; }
.flair-hacker2 { background-position: -165px -471px; width: 22px; height: 20px; }
.flair-grammar { background-position: 0 -500px; width: 22px; height: 21px; }
.flair-zzchaton { background-position: -187px -471px; width: 21px; height: 18px; }
.flair-zafrancophonie { background-position: -22px -500px; width: 21px; height: 20px; }
.flair-cocarde { background-position: 0 -521px; width: 21px; height: 21px; }
.flair-zzzztunisie { background-position: -404px -407px; width: 20px; height: 15px; }
.flair-zzzzalgerie { background-position: -300px -440px; width: 20px; height: 13px; }
.flair-zzzbot { background-position: -505px -27px; width: 18px; height: 20px; }
.flair-zus { background-position: -211px -180px; width: 20px; height: 10px; }
.flair-zuk { background-position: -244px -242px; width: 20px; height: 10px; }
.flair-zparis { background-position: -43px -500px; width: 20px; height: 20px; }
.flair-zecosse { background-position: -208px -471px; width: 20px; height: 15px; }
.flair-zbtquebec { background-position: -228px -471px; width: 20px; height: 14px; }
.flair-zbtluxembourg { background-position: -320px -440px; width: 20px; height: 12px; }
.flair-zbsvue { background-position: -248px -471px; width: 20px; height: 13px; }
.flair-zbsuisse { background-position: -63px -500px; width: 20px; height: 20px; }
.flair-zbelwal { background-position: -83px -500px; width: 20px; height: 20px; }
.flair-zbelbru { background-position: -103px -500px; width: 20px; height: 20px; }
.flair-zbbelgique { background-position: -123px -500px; width: 20px; height: 18px; }
.flair-ysavoie { background-position: -21px -521px; width: 20px; height: 20px; }
.flair-yeuskadi { background-position: -137px -283px; width: 20px; height: 11px; }
.flair-viennoiserie { background-position: -143px -500px; width: 20px; height: 17px; }
.flair-taaf { background-position: -268px -471px; width: 20px; height: 13px; }
.flair-t988 { background-position: -505px -47px; width: 11px; height: 20px; }
.flair-t987 { background-position: -41px -521px; width: 20px; height: 20px; }
.flair-t986 { background-position: -61px -521px; width: 20px; height: 20px; }
.flair-t978 { background-position: -81px -521px; width: 20px; height: 20px; }
.flair-t977 { background-position: -101px -521px; width: 20px; height: 20px; }
.flair-t975 { background-position: -288px -471px; width: 20px; height: 13px; }
.flair-s976 { background-position: -121px -521px; width: 20px; height: 20px; }
.flair-s974 { background-position: -141px -521px; width: 20px; height: 20px; }
.flair-s973 { background-position: -161px -521px; width: 20px; height: 20px; }
.flair-s972 { background-position: -181px -521px; width: 20px; height: 20px; }
.flair-s971 { background-position: -308px -471px; width: 20px; height: 13px; }
.flair-rhone { background-position: -201px -521px; width: 20px; height: 20px; }
.flair-poitou { background-position: -221px -521px; width: 20px; height: 20px; }
.flair-picardie { background-position: -241px -521px; width: 20px; height: 20px; }
.flair-photo { background-position: -163px -500px; width: 20px; height: 14px; }
.flair-peinture { background-position: -505px -67px; width: 18px; height: 20px; }
.flair-paca { background-position: -261px -521px; width: 20px; height: 20px; }
.flair-npdc { background-position: -281px -521px; width: 20px; height: 20px; }
.flair-normandie { background-position: -301px -521px; width: 20px; height: 20px; }
.flair-mpyrenees { background-position: -321px -521px; width: 20px; height: 20px; }
.flair-lorraine { background-position: -341px -521px; width: 20px; height: 20px; }
.flair-limousin { background-position: -361px -521px; width: 20px; height: 20px; }
.flair-languedoc { background-position: -381px -521px; width: 20px; height: 20px; }
.flair-idf { background-position: -401px -521px; width: 20px; height: 20px; }
.flair-gjour { background-position: -328px -471px; width: 20px; height: 13px; }
.flair-francosuisse { background-position: -421px -521px; width: 20px; height: 20px; }
.flair-franche { background-position: -441px -521px; width: 20px; height: 20px; }
.flair-corse { background-position: -461px -521px; width: 20px; height: 20px; }
.flair-champagne { background-position: -481px -521px; width: 20px; height: 20px; }
.flair-centre { background-position: -501px -521px; width: 20px; height: 20px; }
.flair-bretagne { background-position: -521px -521px; width: 20px; height: 20px; }
.flair-bourgogne { background-position: -551px 0; width: 20px; height: 20px; }
.flair-auvergne { background-position: -551px -20px; width: 20px; height: 20px; }
.flair-aquitaine { background-position: -551px -40px; width: 20px; height: 20px; }
.flair-alsace { background-position: -551px -60px; width: 20px; height: 20px; }

/* </flairs> */