.flair-Alsace { background-position: -590px -44px; width: 22px; height: 22px; }
.flair-Aquitaine { background-position: -590px -22px; width: 22px; height: 22px; }
.flair-Auvergne { background-position: -590px 0; width: 22px; height: 22px; }
.flair-Bourgogne { background-position: -550px -560px; width: 22px; height: 22px; }
.flair-Bretagne { background-position: -528px -560px; width: 22px; height: 22px; }
.flair-Centre { background-position: -506px -560px; width: 22px; height: 22px; }
.flair-Champagne { background-position: -484px -560px; width: 22px; height: 22px; }
.flair-Corse { background-position: -462px -560px; width: 22px; height: 22px; }
.flair-Franche { background-position: -440px -560px; width: 22px; height: 22px; }
.flair-IDF { background-position: -418px -560px; width: 22px; height: 22px; }
.flair-Languedoc { background-position: -396px -560px; width: 22px; height: 22px; }
.flair-Limousin { background-position: -374px -560px; width: 22px; height: 22px; }
.flair-Lorraine { background-position: -352px -560px; width: 22px; height: 22px; }
.flair-MPyrenees { background-position: -330px -560px; width: 22px; height: 22px; }
.flair-NPDC { background-position: -308px -560px; width: 22px; height: 22px; }
.flair-Normandie { background-position: -286px -560px; width: 22px; height: 22px; }
.flair-PACA { background-position: -264px -560px; width: 22px; height: 22px; }
.flair-PDL { background-position: -566px -141px; width: 24px; height: 22px; }
.flair-Picardie { background-position: -242px -560px; width: 22px; height: 22px; }
.flair-Poitou { background-position: -220px -560px; width: 22px; height: 22px; }
.flair-Rhone { background-position: -198px -560px; width: 22px; height: 22px; }
.flair-S971 { background-position: -113px -211px; width: 22px; height: 15px; }
.flair-S972 { background-position: -176px -560px; width: 22px; height: 22px; }
.flair-S973 { background-position: -154px -560px; width: 22px; height: 22px; }
.flair-S974 { background-position: -132px -560px; width: 22px; height: 22px; }
.flair-S976 { background-position: -110px -560px; width: 22px; height: 22px; }
.flair-T975 { background-position: -91px -211px; width: 22px; height: 15px; }
.flair-T977 { background-position: -88px -560px; width: 22px; height: 22px; }
.flair-T978 { background-position: -66px -560px; width: 22px; height: 22px; }
.flair-T986 { background-position: -44px -560px; width: 22px; height: 22px; }
.flair-T987 { background-position: -22px -560px; width: 22px; height: 22px; }
.flair-T988 { background-position: -523px -314px; width: 13px; height: 22px; }
.flair-TAAF { background-position: -226px -192px; width: 22px; height: 15px; }
.flair-YAFrance { background-position: -566px -125px; width: 24px; height: 16px; }
.flair-YEuskadi { background-position: -248px -220px; width: 22px; height: 13px; }
.flair-YSavoie { background-position: 0 -560px; width: 22px; height: 22px; }
.flair-ZAFrancophonie { background-position: -566px -206px; width: 23px; height: 22px; }
.flair-ZBBelgique { background-position: -236px -531px; width: 22px; height: 20px; }
.flair-ZBSVUE { background-position: -566px -535px; width: 22px; height: 15px; }
.flair-ZBSuisse { background-position: -566px -513px; width: 22px; height: 22px; }
.flair-ZBTLuxembourg { background-position: -566px -499px; width: 22px; height: 14px; }
.flair-ZBTQuebec { background-position: -566px -483px; width: 22px; height: 16px; }
.flair-ZBelbru { background-position: -566px -461px; width: 22px; height: 22px; }
.flair-ZBelwal { background-position: -566px -439px; width: 22px; height: 22px; }
.flair-ZCanada { background-position: -566px -113px; width: 24px; height: 12px; }
.flair-ZUK { background-position: -566px -427px; width: 22px; height: 12px; }
.flair-ZUS { background-position: -566px -415px; width: 22px; height: 12px; }
.flair-ZZChaton { background-position: -566px -186px; width: 23px; height: 20px; }
.flair-ZZZBot { background-position: -566px -393px; width: 20px; height: 22px; }
.flair-ZZZZZZaraignée { background-position: -102px -465px; width: 33px; height: 27px; }
.flair-ZZZZZZbaguette { background-position: -91px -192px; width: 40px; height: 19px; }
.flair-ZZZZZZcamembert { background-position: -504px 0; width: 34px; height: 32px; }
.flair-ZZZZZZchatf { background-position: -399px -152px; width: 38px; height: 35px; }
.flair-ZZZZZZchatl { background-position: -469px -429px; width: 35px; height: 35px; }
.flair-ZZZZZZchauvesouris { background-position: -322px -357px; width: 31px; height: 24px; }
.flair-ZZZZZZchiot { background-position: -59px -499px; width: 30px; height: 28px; }
.flair-ZZZZZZcoq { background-position: -267px -431px; width: 31px; height: 26px; }
.flair-ZZZZZZcrabe { background-position: -236px -431px; width: 31px; height: 26px; }
.flair-ZZZZZZcrevette { background-position: 0 -531px; width: 30px; height: 29px; }
.flair-ZZZZZZcriquet { background-position: -329px -317px; width: 31px; height: 21px; }
.flair-ZZZZZZcroissant { background-position: -187px -275px; width: 34px; height: 20px; }
.flair-ZZZZZZcygne { background-position: -204px -431px; width: 32px; height: 26px; }
.flair-ZZZZZZdinosaure1 { background-position: -157px -394px; width: 36px; height: 37px; }
.flair-ZZZZZZdinosaure2 { background-position: -384px -394px; width: 36px; height: 31px; }
.flair-ZZZZZZescargot { background-position: -538px -214px; width: 28px; height: 24px; }
.flair-ZZZZZZguepard { background-position: -171px -431px; width: 33px; height: 26px; }
.flair-ZZZZZZhacker { background-position: -566px -91px; width: 24px; height: 22px; }
.flair-ZZZZZZhippocampe { background-position: -538px -120px; width: 21px; height: 29px; }
.flair-ZZZZZZhirondelle { background-position: -135px -465px; width: 31px; height: 27px; }
.flair-ZZZZZZmorse { background-position: -291px -357px; width: 31px; height: 25px; }
.flair-ZZZZZZoiseau { background-position: -138px -531px; width: 27px; height: 27px; }
.flair-ZZZZZZoiseau2 { background-position: -504px -447px; width: 33px; height: 28px; }
.flair-ZZZZZZoiseaucape { background-position: -469px -399px; width: 35px; height: 30px; }
.flair-ZZZZZZpelican { background-position: -68px -465px; width: 34px; height: 28px; }
.flair-ZZZZZZpingouin { background-position: -113px -531px; width: 25px; height: 27px; }
.flair-ZZZZZZpoisson { background-position: -86px -531px; width: 27px; height: 27px; }
.flair-ZZZZZZpoisson2 { background-position: -27px -499px; width: 32px; height: 28px; }
.flair-ZZZZZZpoulpe { background-position: -59px -531px; width: 27px; height: 27px; }
.flair-ZZZZZZratonlaveur { background-position: -437px -404px; width: 32px; height: 26px; }
.flair-ZZZZZZsouris { background-position: -188px -531px; width: 24px; height: 26px; }
.flair-ZZZZZZvin { background-position: -328px -42px; width: 14px; height: 42px; }
.flair-ZZZZZpace { background-position: -140px -499px; width: 25px; height: 19px; }
.flair-ZZZZZtroll { background-position: -113px -499px; width: 27px; height: 22px; }
.flair-ZZZZalgU00e9rie { background-position: -504px -475px; width: 32px; height: 22px; }
.flair-ZZZZalgerie { background-position: -566px -378px; width: 22px; height: 15px; }
.flair-ZZZZphilippines { background-position: -199px -192px; width: 27px; height: 15px; }
.flair-ZZZZtunisie { background-position: -566px -361px; width: 22px; height: 17px; }
.flair-ZZsanglier { background-position: -89px -499px; width: 24px; height: 27px; }
.flair-Zallemagne { background-position: -303px -465px; width: 27px; height: 17px; }
.flair-Zbelleile { background-position: -276px -465px; width: 27px; height: 19px; }
.flair-Zcoree { background-position: -166px -465px; width: 29px; height: 20px; }
.flair-Zcornouaille { background-position: -356px -431px; width: 29px; height: 19px; }
.flair-Zecosse { background-position: -566px -344px; width: 22px; height: 17px; }
.flair-Zengland { background-position: -566px -77px; width: 24px; height: 14px; }
.flair-Zespagne { background-position: -249px -465px; width: 27px; height: 19px; }
.flair-Zfinlande { background-position: -439px -431px; width: 27px; height: 17px; }
.flair-Zhongrie { background-position: -362px -342px; width: 27px; height: 14px; }
.flair-Zirlande { background-position: -538px -514px; width: 27px; height: 15px; }
.flair-Zisrael { background-position: -566px -58px; width: 24px; height: 19px; }
.flair-Zitalie { background-position: -566px -41px; width: 24px; height: 17px; }
.flair-Zjapon { background-position: -327px -431px; width: 29px; height: 19px; }
.flair-Zlatverie { background-position: -169px -192px; width: 30px; height: 16px; }
.flair-Znepal { background-position: 0 -499px; width: 27px; height: 32px; }
.flair-Znorvege { background-position: -566px -23px; width: 24px; height: 18px; }
.flair-Zparis { background-position: -566px -322px; width: 22px; height: 22px; }
.flair-Zpaysbas { background-position: -222px -465px; width: 27px; height: 19px; }
.flair-Zpaysdegalle { background-position: -280px -275px; width: 29px; height: 18px; }
.flair-Zpologne { background-position: -412px -431px; width: 27px; height: 18px; }
.flair-Zsenegal { background-position: -195px -465px; width: 27px; height: 19px; }
.flair-Zsuede { background-position: -385px -431px; width: 27px; height: 18px; }
.flair-abitbol { background-position: -248px 0; width: 41px; height: 47px; }
.flair-accordeon { background-position: -254px -317px; width: 39px; height: 26px; }
.flair-afriquedusud { background-position: -538px -495px; width: 27px; height: 19px; }
.flair-airbus { background-position: -95px -158px; width: 47px; height: 32px; }
.flair-alizee { background-position: -399px -114px; width: 29px; height: 38px; }
.flair-amiralpoitou { background-position: -289px 0; width: 39px; height: 43px; }
.flair-amiralpoitou2 { background-position: -437px -108px; width: 30px; height: 36px; }
.flair-ananas { background-position: -137px -394px; width: 20px; height: 37px; }
.flair-anarchisme { background-position: -538px -477px; width: 27px; height: 18px; }
.flair-anne { background-position: -362px -159px; width: 35px; height: 39px; }
.flair-arc { background-position: -102px -394px; width: 35px; height: 37px; }
.flair-ariane { background-position: -328px 0; width: 15px; height: 42px; }
.flair-asterix { background-position: -469px -364px; width: 32px; height: 35px; }
.flair-australie { background-position: -504px -429px; width: 33px; height: 18px; }
.flair-bearn { background-position: -538px -460px; width: 27px; height: 17px; }
.flair-beaumarchais { background-position: -399px -76px; width: 36px; height: 38px; }
.flair-beauvoir { background-position: -362px -80px; width: 35px; height: 40px; }
.flair-bebel { background-position: -469px -329px; width: 30px; height: 35px; }
.flair-beret { background-position: -504px -412px; width: 33px; height: 17px; }
.flair-bison { background-position: -399px -38px; width: 33px; height: 38px; }
.flair-blum { background-position: -165px -531px; width: 23px; height: 26px; }
.flair-bonnetane { background-position: -437px -246px; width: 26px; height: 34px; }
.flair-brassens { background-position: -65px -394px; width: 37px; height: 37px; }
.flair-bresil { background-position: -137px -431px; width: 34px; height: 26px; }
.flair-canard { background-position: -34px -465px; width: 34px; height: 31px; }
.flair-canele { background-position: -504px -379px; width: 27px; height: 33px; }
.flair-ceres { background-position: -362px -40px; width: 36px; height: 40px; }
.flair-charrenault { background-position: -142px -158px; width: 44px; height: 29px; }
.flair-chefshadok { background-position: -32px -394px; width: 33px; height: 37px; }
.flair-cheminade { background-position: 0 -394px; width: 32px; height: 37px; }
.flair-chimay { background-position: -343px 0; width: 19px; height: 41px; }
.flair-chouffe { background-position: -469px -294px; width: 35px; height: 35px; }
.flair-cocarde { background-position: -566px -163px; width: 23px; height: 23px; }
.flair-coeur { background-position: -298px -431px; width: 29px; height: 24px; }
.flair-cognac { background-position: -437px -72px; width: 27px; height: 36px; }
.flair-coluche { background-position: -437px -36px; width: 27px; height: 36px; }
.flair-comte { background-position: -293px -317px; width: 36px; height: 23px; }
.flair-coqd { background-position: -437px 0; width: 32px; height: 36px; }
.flair-croatie { background-position: -469px -259px; width: 32px; height: 35px; }
.flair-croche { background-position: -538px -186px; width: 26px; height: 28px; }
.flair-croixlorraine { background-position: -538px -31px; width: 22px; height: 31px; }
.flair-cthulu { background-position: -148px -357px; width: 37px; height: 36px; }
.flair-danemark { background-position: -538px -439px; width: 27px; height: 21px; }
.flair-dauphine { background-position: -538px -412px; width: 27px; height: 27px; }
.flair-desproges { background-position: -399px 0; width: 38px; height: 38px; }
.flair-devinplombier { background-position: -111px -357px; width: 37px; height: 37px; }
.flair-didi { background-position: -32px -275px; width: 42px; height: 37px; }
.flair-edriseur { background-position: -538px -91px; width: 25px; height: 29px; }
.flair-fab { background-position: -362px -120px; width: 35px; height: 39px; }
.flair-fleur { background-position: -75px -357px; width: 36px; height: 37px; }
.flair-fougere { background-position: -102px -83px; width: 50px; height: 23px; }
.flair-framasoft { background-position: -469px -224px; width: 35px; height: 35px; }
.flair-francosuisse { background-position: -566px -300px; width: 22px; height: 22px; }
.flair-frise { background-position: -538px -393px; width: 27px; height: 19px; }
.flair-frites { background-position: -362px -274px; width: 27px; height: 38px; }
.flair-gabuzomeu { background-position: -38px -357px; width: 37px; height: 37px; }
.flair-gadget { background-position: -214px -234px; width: 42px; height: 36px; }
.flair-gainsbourg { background-position: -348px -394px; width: 36px; height: 33px; }
.flair-gaston { background-position: -129px -234px; width: 43px; height: 39px; }
.flair-gibi { background-position: -314px -394px; width: 34px; height: 36px; }
.flair-gjour { background-position: -566px -285px; width: 22px; height: 15px; }
.flair-gobelin { background-position: -103px -431px; width: 34px; height: 28px; }
.flair-grammar { background-position: -566px 0; width: 24px; height: 23px; }
.flair-grd { background-position: -113px -275px; width: 38px; height: 23px; }
.flair-grenouille { background-position: -362px 0; width: 37px; height: 40px; }
.flair-grnx { background-position: -469px -195px; width: 35px; height: 29px; }
.flair-groenland { background-position: -538px -374px; width: 27px; height: 19px; }
.flair-guernesey { background-position: -221px -275px; width: 30px; height: 20px; }
.flair-guignol { background-position: -504px -347px; width: 33px; height: 32px; }
.flair-guillotine { background-position: -288px -394px; width: 26px; height: 36px; }
.flair-guiness { background-position: -504px -314px; width: 19px; height: 33px; }
.flair-guitare { background-position: -437px -212px; width: 14px; height: 34px; }
.flair-gwennhadu { background-position: -538px -355px; width: 27px; height: 19px; }
.flair-hacker2 { background-position: -212px -531px; width: 24px; height: 22px; }
.flair-haddock { background-position: -175px -317px; width: 40px; height: 39px; }
.flair-herisson { background-position: -437px -376px; width: 32px; height: 28px; }
.flair-hk { background-position: -538px -167px; width: 28px; height: 19px; }
.flair-imperial { background-position: -469px -160px; width: 34px; height: 35px; }
.flair-inconnus { background-position: -50px -119px; width: 49px; height: 32px; }
.flair-inde { background-position: -538px -336px; width: 27px; height: 19px; }
.flair-italie { background-position: -251px -275px; width: 29px; height: 19px; }
.flair-jamy { background-position: -217px -22px; width: 29px; height: 37px; }
.flair-jaures { background-position: -538px -62px; width: 26px; height: 29px; }
.flair-jeanne { background-position: 0 -192px; width: 48px; height: 42px; }
.flair-jeannedarc { background-position: -86px -234px; width: 43px; height: 39px; }
.flair-jospin { background-position: 0 -275px; width: 32px; height: 42px; }
.flair-karlmarx { background-position: -253px -394px; width: 35px; height: 36px; }
.flair-kepi { background-position: -362px -312px; width: 37px; height: 30px; }
.flair-lci { background-position: -152px -83px; width: 43px; height: 18px; }
.flair-legion { background-position: -538px -315px; width: 27px; height: 21px; }
.flair-lepers { background-position: -223px -394px; width: 30px; height: 36px; }
.flair-liban { background-position: -538px -297px; width: 27px; height: 18px; }
.flair-liberte { background-position: 0 -119px; width: 50px; height: 39px; }
.flair-licorne { background-position: 0 -465px; width: 34px; height: 34px; }
.flair-lordon { background-position: -538px -275px; width: 27px; height: 22px; }
.flair-louisemichel { background-position: -289px -211px; width: 32px; height: 42px; }
.flair-louisiane { background-position: -147px -119px; width: 42px; height: 27px; }
.flair-loutre { background-position: -469px -129px; width: 35px; height: 31px; }
.flair-lys { background-position: -193px -394px; width: 30px; height: 36px; }
.flair-maite { background-position: -43px -234px; width: 43px; height: 41px; }
.flair-mariecurie { background-position: 0 -234px; width: 43px; height: 41px; }
.flair-mariondufaouet { background-position: -469px -94px; width: 26px; height: 35px; }
.flair-marmotte { background-position: -289px -169px; width: 29px; height: 42px; }
.flair-maroc { background-position: -538px -256px; width: 27px; height: 19px; }
.flair-marsu { background-position: 0 -22px; width: 217px; height: 37px; }
.flair-marteau { background-position: -52px -83px; width: 50px; height: 28px; }
.flair-marteaufaucille { background-position: -504px -282px; width: 33px; height: 32px; }
.flair-mbappe { background-position: -504px -249px; width: 31px; height: 33px; }
.flair-mecronchon { background-position: -248px -47px; width: 37px; height: 44px; }
.flair-melenchon { background-position: -437px -178px; width: 27px; height: 34px; }
.flair-metal { background-position: -399px -356px; width: 24px; height: 37px; }
.flair-minitel { background-position: -172px -234px; width: 42px; height: 38px; }
.flair-moustache { background-position: -131px -192px; width: 38px; height: 16px; }
.flair-naquitaine { background-position: -399px -319px; width: 32px; height: 37px; }
.flair-newzealand { background-position: -504px -230px; width: 33px; height: 19px; }
.flair-nimportequoi { background-position: 0 0; width: 248px; height: 22px; }
.flair-nioutaik { background-position: -112px -59px; width: 72px; height: 21px; }
.flair-nono { background-position: -504px -197px; width: 33px; height: 33px; }
.flair-nsfw { background-position: -399px -261px; width: 37px; height: 29px; }
.flair-nsfw:hover { background-position: -399px -290px; width: 37px; height: 29px; }
.flair-nyancat { background-position: -289px -253px; width: 38px; height: 19px; }
.flair-ornithorynque { background-position: -189px -119px; width: 41px; height: 20px; }
.flair-oss { background-position: -469px -59px; width: 30px; height: 35px; }
.flair-otarie { background-position: -184px -59px; width: 45px; height: 21px; }
.flair-ours { background-position: -504px -164px; width: 32px; height: 33px; }
.flair-pakistan { background-position: -469px -35px; width: 35px; height: 24px; }
.flair-pascalbrutal { background-position: -215px -317px; width: 39px; height: 37px; }
.flair-peinture { background-position: -566px -263px; width: 20px; height: 22px; }
.flair-penelope { background-position: -140px -317px; width: 35px; height: 40px; }
.flair-peppercarrot { background-position: -504px -131px; width: 33px; height: 33px; }
.flair-perceval { background-position: -504px -98px; width: 26px; height: 33px; }
.flair-philippe { background-position: -362px -236px; width: 29px; height: 38px; }
.flair-photo { background-position: -566px -247px; width: 22px; height: 16px; }
.flair-piaf { background-position: -105px -317px; width: 35px; height: 40px; }
.flair-pipe { background-position: -151px -275px; width: 36px; height: 20px; }
.flair-pirate { background-position: -538px -238px; width: 27px; height: 18px; }
.flair-planete { background-position: -99px -119px; width: 48px; height: 28px; }
.flair-poing { background-position: -437px -344px; width: 27px; height: 32px; }
.flair-pologne { background-position: -538px -149px; width: 28px; height: 18px; }
.flair-portugal { background-position: -186px -158px; width: 42px; height: 29px; }
.flair-potion { background-position: -437px -312px; width: 31px; height: 32px; }
.flair-poutine { background-position: -74px -275px; width: 39px; height: 24px; }
.flair-poutineperuqe { background-position: -70px -317px; width: 35px; height: 40px; }
.flair-profshadoko { background-position: -399px -224px; width: 37px; height: 37px; }
.flair-quake { background-position: 0 -357px; width: 38px; height: 37px; }
.flair-rafale { background-position: -48px -158px; width: 47px; height: 33px; }
.flair-ratp { background-position: -30px -531px; width: 29px; height: 29px; }
.flair-renard { background-position: -69px -431px; width: 34px; height: 33px; }
.flair-republique { background-position: -195px -83px; width: 42px; height: 16px; }
.flair-respiration { background-position: -469px 0; width: 35px; height: 35px; }
.flair-rochefort { background-position: 0 -431px; width: 35px; height: 34px; }
.flair-rousseau { background-position: -248px -177px; width: 36px; height: 43px; }
.flair-saliere { background-position: -35px -431px; width: 34px; height: 33px; }
.flair-sansculotte { background-position: -289px -127px; width: 30px; height: 42px; }
.flair-saucisson { background-position: -504px -65px; width: 31px; height: 33px; }
.flair-saxo { background-position: -362px -198px; width: 36px; height: 38px; }
.flair-schtroumpf { background-position: -437px -144px; width: 23px; height: 34px; }
.flair-shadokpompe { background-position: -399px -187px; width: 37px; height: 37px; }
.flair-shrek { background-position: -248px -134px; width: 39px; height: 43px; }
.flair-singapour { background-position: -221px -357px; width: 36px; height: 27px; }
.flair-singe { background-position: -256px -234px; width: 31px; height: 36px; }
.flair-sisyphe { background-position: -289px -85px; width: 34px; height: 42px; }
.flair-ss { background-position: 0 -83px; width: 52px; height: 36px; }
.flair-superdupont { background-position: -48px -192px; width: 43px; height: 35px; }
.flair-supermeatboy { background-position: -257px -357px; width: 34px; height: 25px; }
.flair-taiwan { background-position: -353px -357px; width: 29px; height: 24px; }
.flair-taubira { background-position: -35px -317px; width: 35px; height: 40px; }
.flair-tgv { background-position: 0 -59px; width: 112px; height: 24px; }
.flair-tzizou { background-position: -185px -357px; width: 36px; height: 30px; }
.flair-ubomw { background-position: -289px -43px; width: 31px; height: 42px; }
.flair-ubu { background-position: -248px -91px; width: 27px; height: 43px; }
.flair-ut { background-position: -437px -280px; width: 32px; height: 32px; }
.flair-veil { background-position: 0 -317px; width: 35px; height: 40px; }
.flair-viennoiserie { background-position: -566px -228px; width: 22px; height: 19px; }
.flair-vlc { background-position: -538px 0; width: 28px; height: 31px; }
.flair-voltaire { background-position: -504px -32px; width: 33px; height: 33px; }
.flair-zizou { background-position: 0 -158px; width: 48px; height: 34px; }
