.flair-20centimes { background-position: -546px -211px; width: 29px; height: 29px; }
.flair-2Be3 { background-position: -68px -61px; width: 52px; height: 32px; }
.flair-Alsace { background-position: -132px -564px; width: 22px; height: 22px; }
.flair-Aquitaine { background-position: -110px -564px; width: 22px; height: 22px; }
.flair-Auvergne { background-position: -88px -564px; width: 22px; height: 22px; }
.flair-Bourgogne { background-position: -66px -564px; width: 22px; height: 22px; }
.flair-Bretagne { background-position: -44px -564px; width: 22px; height: 22px; }
.flair-Centre { background-position: -22px -564px; width: 22px; height: 22px; }
.flair-Champagne { background-position: 0 -564px; width: 22px; height: 22px; }
.flair-Corse { background-position: -575px -542px; width: 22px; height: 22px; }
.flair-DavidGoodenough { background-position: 0 -93px; width: 55px; height: 36px; }
.flair-DoubleVax { background-position: -405px -218px; width: 38px; height: 38px; }
.flair-Franche { background-position: -575px -520px; width: 22px; height: 22px; }
.flair-IDF { background-position: -575px -498px; width: 22px; height: 22px; }
.flair-JeanPierrePernaut { background-position: -57px -293px; width: 36px; height: 41px; }
.flair-JosdolfStaltler { background-position: -258px -43px; width: 31px; height: 43px; }
.flair-Languedoc { background-position: -575px -476px; width: 22px; height: 22px; }
.flair-Limousin { background-position: -575px -454px; width: 22px; height: 22px; }
.flair-Lorraine { background-position: -575px -432px; width: 22px; height: 22px; }
.flair-MPyrenees { background-position: -575px -410px; width: 22px; height: 22px; }
.flair-MacronCasserole { background-position: -238px -293px; width: 40px; height: 38px; }
.flair-Macronomicon { background-position: -217px -91px; width: 39px; height: 44px; }
.flair-NPDC { background-position: -575px -388px; width: 22px; height: 22px; }
.flair-Normandie { background-position: -575px -366px; width: 22px; height: 22px; }
.flair-PACA { background-position: -575px -344px; width: 22px; height: 22px; }
.flair-PDL { background-position: -348px -509px; width: 24px; height: 22px; }
.flair-Picardie { background-position: -575px -322px; width: 22px; height: 22px; }
.flair-Picsou { background-position: -339px -200px; width: 33px; height: 40px; }
.flair-Poitou { background-position: -575px -300px; width: 22px; height: 22px; }
.flair-Rhone { background-position: -575px -278px; width: 22px; height: 22px; }
.flair-RoiHyrule { background-position: -160px -213px; width: 40px; height: 36px; }
.flair-S971 { background-position: -575px -263px; width: 22px; height: 15px; }
.flair-S972 { background-position: -575px -241px; width: 22px; height: 22px; }
.flair-S973 { background-position: -575px -219px; width: 22px; height: 22px; }
.flair-S974 { background-position: -575px -197px; width: 22px; height: 22px; }
.flair-S976 { background-position: -575px -175px; width: 22px; height: 22px; }
.flair-T975 { background-position: -575px -160px; width: 22px; height: 15px; }
.flair-T977 { background-position: -575px -138px; width: 22px; height: 22px; }
.flair-T978 { background-position: -575px -116px; width: 22px; height: 22px; }
.flair-T986 { background-position: -575px -94px; width: 22px; height: 22px; }
.flair-T987 { background-position: -575px -72px; width: 22px; height: 22px; }
.flair-T988 { background-position: -575px -50px; width: 13px; height: 22px; }
.flair-TAAF { background-position: -575px -35px; width: 22px; height: 15px; }
.flair-UFCQueBannir { background-position: -405px -187px; width: 38px; height: 31px; }
.flair-YAFrance { background-position: -211px -372px; width: 26px; height: 18px; }
.flair-YAFranceVGE { background-position: -185px -372px; width: 26px; height: 18px; }
.flair-YEuskadi { background-position: -575px -22px; width: 22px; height: 13px; }
.flair-YSavoie { background-position: -575px 0; width: 22px; height: 22px; }
.flair-ZAFrancophonie { background-position: -372px -509px; width: 23px; height: 22px; }
.flair-ZBBelgique { background-position: -89px -541px; width: 22px; height: 20px; }
.flair-ZBSVUE { background-position: -546px -347px; width: 28px; height: 19px; }
.flair-ZBSuisse { background-position: -67px -541px; width: 22px; height: 22px; }
.flair-ZBTLuxembourg { background-position: -223px -256px; width: 22px; height: 14px; }
.flair-ZBTQuebec { background-position: -283px -372px; width: 22px; height: 16px; }
.flair-ZBelbru { background-position: -45px -541px; width: 22px; height: 22px; }
.flair-ZBelwal { background-position: -23px -541px; width: 22px; height: 22px; }
.flair-ZCanada { background-position: -405px -359px; width: 24px; height: 12px; }
.flair-ZUK { background-position: -200px -237px; width: 22px; height: 12px; }
.flair-ZUS { background-position: -324px -335px; width: 27px; height: 15px; }
.flair-ZZChaton { background-position: 0 -293px; width: 38px; height: 42px; }
.flair-ZZZZZZbaguette { background-position: -157px -37px; width: 40px; height: 19px; }
.flair-ZZZZZZcamembert { background-position: -512px -405px; width: 34px; height: 32px; }
.flair-ZZZZZZchatf { background-position: -405px -152px; width: 38px; height: 35px; }
.flair-ZZZZZZchatl { background-position: -104px -474px; width: 35px; height: 35px; }
.flair-ZZZZZZchauvesouris { background-position: -169px -401px; width: 31px; height: 24px; }
.flair-ZZZZZZchiot { background-position: -196px -509px; width: 30px; height: 28px; }
.flair-ZZZZZZcoq { background-position: -397px -438px; width: 31px; height: 26px; }
.flair-ZZZZZZcrabe { background-position: -366px -438px; width: 31px; height: 26px; }
.flair-ZZZZZZcrevette { background-position: -166px -509px; width: 30px; height: 29px; }
.flair-ZZZZZZcriquet { background-position: -73px -372px; width: 31px; height: 21px; }
.flair-ZZZZZZcroissant { background-position: -512px -385px; width: 34px; height: 20px; }
.flair-ZZZZZZcygne { background-position: -334px -438px; width: 32px; height: 26px; }
.flair-ZZZZZZdinosaure1 { background-position: -443px -331px; width: 36px; height: 37px; }
.flair-ZZZZZZdinosaure2 { background-position: -165px -438px; width: 36px; height: 31px; }
.flair-ZZZZZZescargot { background-position: -546px -323px; width: 28px; height: 24px; }
.flair-ZZZZZZguepard { background-position: -269px -438px; width: 33px; height: 26px; }
.flair-ZZZZZZhacker { background-position: -324px -509px; width: 24px; height: 22px; }
.flair-ZZZZZZhippocampe { background-position: -546px -182px; width: 21px; height: 29px; }
.flair-ZZZZZZhirondelle { background-position: -365px -474px; width: 31px; height: 27px; }
.flair-ZZZZZZmorse { background-position: -138px -401px; width: 31px; height: 25px; }
.flair-ZZZZZZoiseau { background-position: -226px -509px; width: 27px; height: 27px; }
.flair-ZZZZZZoiseau2 { background-position: -236px -438px; width: 33px; height: 28px; }
.flair-ZZZZZZpelican { background-position: -512px -357px; width: 34px; height: 28px; }
.flair-ZZZZZZpingouin { background-position: -477px -474px; width: 25px; height: 27px; }
.flair-ZZZZZZpoisson { background-position: -450px -474px; width: 27px; height: 27px; }
.flair-ZZZZZZpoisson2 { background-position: -333px -474px; width: 32px; height: 28px; }
.flair-ZZZZZZpoulpe { background-position: -423px -474px; width: 27px; height: 27px; }
.flair-ZZZZZZratonlaveur { background-position: -302px -438px; width: 32px; height: 26px; }
.flair-ZZZZZZsouris { background-position: -276px -509px; width: 24px; height: 26px; }
.flair-ZZZZZZvin { background-position: -273px -212px; width: 14px; height: 42px; }
.flair-ZZZZZpace { background-position: -335px -401px; width: 25px; height: 19px; }
.flair-ZZZZZtroll { background-position: -428px -438px; width: 27px; height: 22px; }
.flair-ZZZZalgU00e9rie { background-position: -480px -450px; width: 32px; height: 22px; }
.flair-ZZZZalgerie { background-position: -351px -335px; width: 22px; height: 15px; }
.flair-ZZZZphilippines { background-position: -297px -335px; width: 27px; height: 15px; }
.flair-ZZZZtunisie { background-position: -459px -509px; width: 22px; height: 17px; }
.flair-ZZsanglier { background-position: -193px -93px; width: 24px; height: 27px; }
.flair-Zallemagne { background-position: -270px -335px; width: 27px; height: 17px; }
.flair-Zbelleile { background-position: -308px -401px; width: 27px; height: 19px; }
.flair-Zcoree { background-position: -546px -162px; width: 29px; height: 20px; }
.flair-Zcornouaille { background-position: -546px -143px; width: 29px; height: 19px; }
.flair-Zecosse { background-position: -406px -401px; width: 22px; height: 17px; }
.flair-Zespagne { background-position: -281px -401px; width: 27px; height: 19px; }
.flair-Zfinlande { background-position: -243px -335px; width: 27px; height: 17px; }
.flair-Zhongrie { background-position: -196px -256px; width: 27px; height: 14px; }
.flair-Zirlande { background-position: -217px -198px; width: 27px; height: 15px; }
.flair-Zisrael { background-position: -360px -401px; width: 24px; height: 19px; }
.flair-Zjapon { background-position: -546px -124px; width: 29px; height: 19px; }
.flair-Zlatverie { background-position: -187px -129px; width: 30px; height: 16px; }
.flair-Znepal { background-position: -89px -509px; width: 27px; height: 32px; }
.flair-Znorvege { background-position: -237px -372px; width: 24px; height: 18px; }
.flair-Zparis { background-position: -437px -509px; width: 22px; height: 22px; }
.flair-Zpaysbas { background-position: -254px -401px; width: 27px; height: 19px; }
.flair-Zpaysdegalle { background-position: -546px -106px; width: 29px; height: 18px; }
.flair-Zpologne { background-position: -158px -372px; width: 27px; height: 18px; }
.flair-Zsenegal { background-position: -227px -401px; width: 27px; height: 19px; }
.flair-Zsuede { background-position: -131px -372px; width: 27px; height: 18px; }
.flair-abitbol { background-position: -217px 0; width: 41px; height: 47px; }
.flair-accordeon { background-position: -81px -256px; width: 39px; height: 26px; }
.flair-afriquedusud { background-position: -200px -401px; width: 27px; height: 19px; }
.flair-airbus { background-position: -102px -93px; width: 47px; height: 32px; }
.flair-alizee { background-position: -405px -114px; width: 29px; height: 38px; }
.flair-amiralpoitou { background-position: -258px 0; width: 39px; height: 43px; }
.flair-amiralpoitou2 { background-position: -480px -108px; width: 30px; height: 36px; }
.flair-ananas { background-position: -443px -294px; width: 20px; height: 37px; }
.flair-anarchisme { background-position: -104px -372px; width: 27px; height: 18px; }
.flair-anne { background-position: -339px -279px; width: 35px; height: 39px; }
.flair-arc { background-position: -443px -257px; width: 35px; height: 37px; }
.flair-ariane { background-position: -258px -212px; width: 15px; height: 42px; }
.flair-asterix { background-position: -480px -249px; width: 32px; height: 35px; }
.flair-australie { background-position: -183px -335px; width: 33px; height: 18px; }
.flair-bearn { background-position: -216px -335px; width: 27px; height: 17px; }
.flair-beaumarchais { background-position: -405px -76px; width: 36px; height: 38px; }
.flair-beauvoir { background-position: -339px -160px; width: 35px; height: 40px; }
.flair-bebel { background-position: -480px -214px; width: 30px; height: 35px; }
.flair-beret { background-position: -339px -318px; width: 33px; height: 17px; }
.flair-bison { background-position: -405px -38px; width: 33px; height: 38px; }
.flair-blaireau { background-position: -463px -294px; width: 17px; height: 32px; }
.flair-blum { background-position: -253px -509px; width: 23px; height: 26px; }
.flair-bonnetane { background-position: -512px -323px; width: 26px; height: 34px; }
.flair-brassens { background-position: -443px -220px; width: 37px; height: 37px; }
.flair-bresil { background-position: -512px -297px; width: 34px; height: 26px; }
.flair-caducee { background-position: -526px -136px; width: 15px; height: 34px; }
.flair-canard { background-position: -512px -266px; width: 34px; height: 31px; }
.flair-canele { background-position: -376px -186px; width: 27px; height: 33px; }
.flair-cartebretagne { background-position: -57px -509px; width: 32px; height: 32px; }
.flair-ceres { background-position: -339px -120px; width: 36px; height: 40px; }
.flair-charrenault { background-position: -149px -93px; width: 44px; height: 29px; }
.flair-chefshadok { background-position: -443px -183px; width: 33px; height: 37px; }
.flair-chienddit { background-position: -443px -147px; width: 37px; height: 36px; }
.flair-chiendrakou { background-position: 0 -129px; width: 52px; height: 42px; }
.flair-chimay { background-position: -38px -293px; width: 19px; height: 41px; }
.flair-chocolat { background-position: -512px -232px; width: 34px; height: 34px; }
.flair-chouffe { background-position: -69px -474px; width: 35px; height: 35px; }
.flair-cocarde { background-position: 0 -541px; width: 23px; height: 23px; }
.flair-cognac { background-position: -480px -72px; width: 27px; height: 36px; }
.flair-coluche { background-position: -480px -36px; width: 27px; height: 36px; }
.flair-comte { background-position: -37px -372px; width: 36px; height: 23px; }
.flair-coqd { background-position: -480px 0; width: 32px; height: 36px; }
.flair-coupemondefoot { background-position: -32px -509px; width: 25px; height: 32px; }
.flair-croatie { background-position: -480px -179px; width: 32px; height: 35px; }
.flair-croche { background-position: -546px -295px; width: 26px; height: 28px; }
.flair-croixlorraine { background-position: -144px -509px; width: 22px; height: 31px; }
.flair-cthulu { background-position: -443px -111px; width: 37px; height: 36px; }
.flair-dab { background-position: -314px -293px; width: 24px; height: 32px; }
.flair-daftpunk { background-position: -258px -170px; width: 38px; height: 42px; }
.flair-danemark { background-position: -376px -347px; width: 27px; height: 21px; }
.flair-dauphine { background-position: -396px -474px; width: 27px; height: 27px; }
.flair-deFunes { background-position: -339px -80px; width: 28px; height: 40px; }
.flair-deFunesSurprise { background-position: -339px -80px; width: 28px; height: 40px; }
.flair-deFunesSurprise:hover { background-position: -339px -40px; width: 34px; height: 40px; }
.flair-desproges { background-position: -405px 0; width: 38px; height: 38px; }
.flair-devinplombier { background-position: -443px -74px; width: 37px; height: 37px; }
.flair-didi { background-position: 0 -256px; width: 42px; height: 37px; }
.flair-edriseur { background-position: -546px -77px; width: 25px; height: 29px; }
.flair-estonie { background-position: -546px -521px; width: 27px; height: 18px; }
.flair-fab { background-position: -339px -240px; width: 35px; height: 39px; }
.flair-faisceau { background-position: -376px -315px; width: 28px; height: 32px; }
.flair-fleur { background-position: -443px -37px; width: 36px; height: 37px; }
.flair-fleurbleue { background-position: 0 -509px; width: 32px; height: 32px; }
.flair-framasoft { background-position: -34px -474px; width: 35px; height: 35px; }
.flair-francosuisse { background-position: -415px -509px; width: 22px; height: 22px; }
.flair-frites { background-position: -376px -38px; width: 27px; height: 38px; }
.flair-gabuzomeu { background-position: -443px 0; width: 37px; height: 37px; }
.flair-gadget { background-position: -118px -213px; width: 42px; height: 36px; }
.flair-gainsbourg { background-position: -129px -438px; width: 36px; height: 33px; }
.flair-gaston { background-position: -75px -213px; width: 43px; height: 39px; }
.flair-gibi { background-position: -95px -438px; width: 34px; height: 36px; }
.flair-giletjaune { background-position: -512px -198px; width: 34px; height: 34px; }
.flair-gobelin { background-position: -512px -170px; width: 34px; height: 28px; }
.flair-gojira { background-position: 0 -61px; width: 68px; height: 32px; }
.flair-grammar { background-position: -300px -509px; width: 24px; height: 23px; }
.flair-grd { background-position: -76px -335px; width: 38px; height: 23px; }
.flair-grenouille { background-position: -339px 0; width: 37px; height: 40px; }
.flair-grnx { background-position: -69px -401px; width: 35px; height: 29px; }
.flair-groenland { background-position: -546px -502px; width: 27px; height: 19px; }
.flair-guignol { background-position: -173px -474px; width: 33px; height: 32px; }
.flair-guillotine { background-position: -376px -150px; width: 26px; height: 36px; }
.flair-guiness { background-position: -480px -417px; width: 19px; height: 33px; }
.flair-guitare { background-position: -512px -136px; width: 14px; height: 34px; }
.flair-gwennhadu { background-position: -546px -483px; width: 27px; height: 19px; }
.flair-hacker2 { background-position: -455px -438px; width: 24px; height: 22px; }
.flair-haddock { background-position: -198px -293px; width: 40px; height: 39px; }
.flair-herisson { background-position: -301px -474px; width: 32px; height: 28px; }
.flair-hk { background-position: -546px -276px; width: 28px; height: 19px; }
.flair-imperial { background-position: 0 -474px; width: 34px; height: 35px; }
.flair-inconnus { background-position: -120px -61px; width: 49px; height: 32px; }
.flair-inde { background-position: -546px -464px; width: 27px; height: 19px; }
.flair-italie { background-position: -546px -58px; width: 29px; height: 19px; }
.flair-jamy { background-position: -376px -113px; width: 29px; height: 37px; }
.flair-jaures { background-position: -546px -29px; width: 26px; height: 29px; }
.flair-jeanne { background-position: 0 -171px; width: 48px; height: 42px; }
.flair-jeannedarc { background-position: -134px -171px; width: 43px; height: 39px; }
.flair-jospin { background-position: -258px -128px; width: 32px; height: 42px; }
.flair-karlmarx { background-position: -60px -438px; width: 35px; height: 36px; }
.flair-kepi { background-position: -32px -401px; width: 37px; height: 30px; }
.flair-legion { background-position: -546px -443px; width: 27px; height: 21px; }
.flair-lepers { background-position: -30px -438px; width: 30px; height: 36px; }
.flair-liban { background-position: -546px -425px; width: 27px; height: 18px; }
.flair-liberte { background-position: -52px -129px; width: 50px; height: 39px; }
.flair-licorne { background-position: -512px -102px; width: 34px; height: 34px; }
.flair-lordon { background-position: -546px -403px; width: 27px; height: 22px; }
.flair-lordonflou { background-position: -239px -213px; width: 18px; height: 22px; }
.flair-louisemichel { background-position: -258px -86px; width: 32px; height: 42px; }
.flair-louisiane { background-position: -145px -129px; width: 42px; height: 27px; }
.flair-loutre { background-position: -201px -438px; width: 35px; height: 31px; }
.flair-lys { background-position: 0 -438px; width: 30px; height: 36px; }
.flair-maite { background-position: -91px -171px; width: 43px; height: 41px; }
.flair-mariecurie { background-position: -48px -171px; width: 43px; height: 41px; }
.flair-marmotte { background-position: -297px -209px; width: 29px; height: 42px; }
.flair-maroc { background-position: -546px -384px; width: 27px; height: 19px; }
.flair-marsu { background-position: 0 0; width: 217px; height: 37px; }
.flair-mbappe { background-position: -480px -384px; width: 31px; height: 33px; }
.flair-mecronchon { background-position: -217px -47px; width: 37px; height: 44px; }
.flair-melenchon { background-position: -512px -68px; width: 27px; height: 34px; }
.flair-metal { background-position: -376px -76px; width: 24px; height: 37px; }
.flair-minitel { background-position: -297px -171px; width: 42px; height: 38px; }
.flair-monaco { background-position: -546px -258px; width: 28px; height: 18px; }
.flair-moustache { background-position: -158px -256px; width: 38px; height: 16px; }
.flair-mpropre { background-position: -38px -335px; width: 38px; height: 32px; }
.flair-naquitaine { background-position: 0 -401px; width: 32px; height: 37px; }
.flair-newzealand { background-position: -150px -335px; width: 33px; height: 19px; }
.flair-nsfw { background-position: -405px -330px; width: 37px; height: 29px; }
.flair-nsfw:hover { background-position: 0 -372px; width: 37px; height: 29px; }
.flair-nyancat { background-position: -120px -256px; width: 38px; height: 19px; }
.flair-obelix { background-position: -376px -283px; width: 22px; height: 32px; }
.flair-occitanie { background-position: -512px -34px; width: 34px; height: 34px; }
.flair-ornithorynque { background-position: -217px -178px; width: 41px; height: 20px; }
.flair-oss { background-position: -480px -144px; width: 30px; height: 35px; }
.flair-otarie { background-position: -112px -37px; width: 45px; height: 21px; }
.flair-ours { background-position: -480px -351px; width: 32px; height: 33px; }
.flair-pascalbrutal { background-position: -42px -256px; width: 39px; height: 37px; }
.flair-peinture { background-position: -395px -509px; width: 20px; height: 22px; }
.flair-penelope { background-position: -163px -293px; width: 35px; height: 40px; }
.flair-perceval { background-position: -480px -318px; width: 26px; height: 33px; }
.flair-philippe { background-position: -376px 0; width: 29px; height: 38px; }
.flair-photo { background-position: -261px -372px; width: 22px; height: 16px; }
.flair-piaf { background-position: -128px -293px; width: 35px; height: 40px; }
.flair-pipe { background-position: -114px -335px; width: 36px; height: 20px; }
.flair-pirate { background-position: -546px -366px; width: 27px; height: 18px; }
.flair-planete { background-position: -169px -61px; width: 48px; height: 28px; }
.flair-poing { background-position: -376px -251px; width: 27px; height: 32px; }
.flair-pologne { background-position: -546px -240px; width: 28px; height: 18px; }
.flair-portugal { background-position: -297px -142px; width: 42px; height: 29px; }
.flair-potion { background-position: -270px -474px; width: 31px; height: 32px; }
.flair-poutine { background-position: -200px -213px; width: 39px; height: 24px; }
.flair-profshadoko { background-position: -405px -293px; width: 37px; height: 37px; }
.flair-provence { background-position: -512px 0; width: 34px; height: 34px; }
.flair-pyramide { background-position: -177px -171px; width: 40px; height: 34px; }
.flair-quake { background-position: 0 -335px; width: 38px; height: 37px; }
.flair-rafale { background-position: -55px -93px; width: 47px; height: 33px; }
.flair-ratp { background-position: -546px 0; width: 29px; height: 29px; }
.flair-renard { background-position: -139px -474px; width: 34px; height: 33px; }
.flair-republique { background-position: -297px -126px; width: 42px; height: 16px; }
.flair-rousseau { background-position: -39px -213px; width: 36px; height: 43px; }
.flair-sansculotte { background-position: -297px -84px; width: 30px; height: 42px; }
.flair-saucisson { background-position: -512px -470px; width: 31px; height: 33px; }
.flair-saxo { background-position: -278px -293px; width: 36px; height: 38px; }
.flair-schtroumpf { background-position: -480px -284px; width: 23px; height: 34px; }
.flair-shadokpompe { background-position: -405px -256px; width: 37px; height: 37px; }
.flair-shrek { background-position: 0 -213px; width: 39px; height: 43px; }
.flair-singe { background-position: -443px -398px; width: 31px; height: 36px; }
.flair-superdupont { background-position: -102px -129px; width: 43px; height: 35px; }
.flair-supermeatboy { background-position: -104px -401px; width: 34px; height: 25px; }
.flair-tgv { background-position: 0 -37px; width: 112px; height: 24px; }
.flair-twinsen { background-position: -376px -219px; width: 19px; height: 32px; }
.flair-tzizou { background-position: -443px -368px; width: 36px; height: 30px; }
.flair-ubomw { background-position: -297px 0; width: 42px; height: 42px; }
.flair-ubomw:hover { background-position: -297px -42px; width: 42px; height: 42px; }
.flair-ubu { background-position: -217px -135px; width: 27px; height: 43px; }
.flair-ut { background-position: -238px -474px; width: 32px; height: 32px; }
.flair-veil { background-position: -93px -293px; width: 35px; height: 40px; }
.flair-velo { background-position: -206px -474px; width: 32px; height: 32px; }
.flair-viennoiserie { background-position: -384px -401px; width: 22px; height: 19px; }
.flair-vlc { background-position: -116px -509px; width: 28px; height: 31px; }
.flair-voltaire { background-position: -512px -437px; width: 33px; height: 33px; }
